---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Acerca de...</h1>
  <p>
  Esta p치gina est치 creada por Hugo C치rdenas para crear una pagina con todas las Actividades extraescolares de Escuela Ideo.
  </p>
  <p>
  Hecho por Hugo C치rdenas.
  </p>
  </BaseLayout>